<launch>
  <node pkg="map_generator" type="map_pub" name="map_pub" output="screen"
        args="$(find map_generator)/resource/pillar.pcd"/>

  <include file="$(find so3_quadrotor_simulator)/launch/multi_simulator.launch">
    <arg name="num_agents" value="3"/>
    <arg name="frame_id" value="world"/>
    <arg name="simulation_rate" value="1000.0"/>
    <arg name="odom_rate" value="100.0"/>
    <arg name="start_at_hover" value="true"/>
    <arg name="initial_state_file"
         value="$(find bspline_race)/config/phase_offset_swarm/b1/initial_states_3.yaml"/>
  </include>

  <node pkg="nodelet" type="nodelet" name="so3_nodelet_manager"
        args="manager" output="screen"/>

  <include file="$(find bspline_race)/launch/b1_independent_agent.launch">
    <arg name="robot_id" value="0"/>
    <arg name="init_x" value="-5.0"/>
    <arg name="init_y" value="-4.75"/>
    <arg name="init_z" value="1.0"/>
  </include>
  <include file="$(find bspline_race)/launch/b1_independent_agent.launch">
    <arg name="robot_id" value="1"/>
    <arg name="init_x" value="-5.0"/>
    <arg name="init_y" value="-3.50"/>
    <arg name="init_z" value="1.0"/>
  </include>
  <include file="$(find bspline_race)/launch/b1_independent_agent.launch">
    <arg name="robot_id" value="2"/>
    <arg name="init_x" value="-5.0"/>
    <arg name="init_y" value="-2.25"/>
    <arg name="init_z" value="1.0"/>
  </include>
</launch>
