<launch>
  <!-- E7: E6 with only the effective SO3 yaw parameter changed to false. -->
  <node pkg="map_generator" type="map_pub" name="map_pub" output="screen"
        args="$(find map_generator)/resource/pillar.pcd"/>
  <include file="$(find so3_quadrotor_simulator)/launch/multi_simulator.launch">
    <arg name="num_agents" value="1"/>
    <arg name="frame_id" value="world"/>
    <arg name="simulation_rate" value="1000.0"/>
    <arg name="odom_rate" value="100.0"/>
    <arg name="start_at_hover" value="true"/>
    <arg name="initial_state_file"
         value="$(find bspline_race)/config/phase_offset_swarm/b1/initial_states_1.yaml"/>
  </include>
  <node pkg="nodelet" type="nodelet" name="so3_nodelet_manager"
        args="manager" output="screen"/>
  <node pkg="nodelet" type="nodelet" name="so3_control_nodelet_0"
        args="load so3_control/SO3ControlNodelet /so3_nodelet_manager"
        output="screen">
    <param name="so3_control/init_state_x" value="-5.0"/>
    <param name="so3_control/init_state_y" value="-3.50"/>
    <param name="so3_control/init_state_z" value="1.0"/>
    <remap from="~odom" to="/uav_0/sim/odom"/>
    <remap from="~position_cmd" to="/uav_0/position_cmd"/>
    <remap from="~motors" to="/uav_0/motors"/>
    <remap from="~corrections" to="/uav_0/corrections"/>
    <remap from="~so3_cmd" to="/uav_0/so3_cmd"/>
    <remap from="~imu" to="/uav_0/sim/imu"/>
    <rosparam file="$(find so3_control)/config/gains_hummingbird.yaml"/>
    <rosparam file="$(find so3_control)/config/corrections_hummingbird.yaml"/>
    <param name="mass" value="0.98"/>
    <param name="use_angle_corrections" value="false"/>
    <param name="use_external_yaw" value="false"/>
    <param name="gains/rot/z" value="1.0"/>
    <param name="gains/ang/z" value="0.1"/>
  </node>
  <group ns="uav_0">
    <remap from="/move_base_simple/goal" to="/uav_0/goal"/>
    <remap from="/gvf_force" to="/uav_0/gvf_force"/>
    <remap from="/path_vis" to="/uav_0/path_vis"/>
    <remap from="/goal_vis" to="/uav_0/goal_vis"/>
    <remap from="/optimization_path" to="/uav_0/optimization_path"/>
    <remap from="/particle0/path" to="/uav_0/particle0/path"/>
    <remap from="/particle0/kinopath" to="/uav_0/particle0/kinopath"/>
    <remap from="/particle0/circle_reference" to="/uav_0/particle0/circle_reference"/>
    <remap from="/particle0sdf_map/occupancy" to="/uav_0/particle0sdf_map/occupancy"/>
    <remap from="/particle0sdf_map/occupancy_inflate" to="/uav_0/particle0sdf_map/occupancy_inflate"/>
    <remap from="/particle0sdf_map/esdf" to="/uav_0/particle0sdf_map/esdf"/>
    <remap from="/particle0sdf_map/update_range" to="/uav_0/particle0sdf_map/update_range"/>
    <remap from="/particle0sdf_map/map_boundary" to="/uav_0/particle0sdf_map/map_boundary"/>
    <remap from="/particle0sdf_map/unknown" to="/uav_0/particle0sdf_map/unknown"/>
    <remap from="/particle0sdf_map/depth_cloud" to="/uav_0/particle0sdf_map/depth_cloud"/>
    <remap from="/particle0/gvf/occupancy" to="/uav_0/particle0/gvf/occupancy"/>
    <remap from="/particle0/gvf/occupancy_inflate" to="/uav_0/particle0/gvf/occupancy_inflate"/>
    <remap from="/particle0/gvf/esdf" to="/uav_0/particle0/gvf/esdf"/>
    <remap from="/particle0/gvf/update_range" to="/uav_0/particle0/gvf/update_range"/>
    <remap from="/particle0/gvf/traj_vis" to="/uav_0/particle0/gvf/traj_vis"/>
    <remap from="/particle0/gvf/vector_field" to="/uav_0/particle0/gvf/vector_field"/>
    <remap from="/manual_obstacle" to="/uav_0/manual_obstacle"/>
    <remap from="/manual_boundary" to="/uav_0/manual_boundary"/>
    <remap from="/manual_map/add_obstacle_center" to="/uav_0/manual_map/add_obstacle_center"/>
    <remap from="/manual_map/add_boundary_point" to="/uav_0/manual_map/add_boundary_point"/>
    <remap from="/manual_map/occupancy" to="/uav_0/manual_map/occupancy"/>
    <remap from="/clicked_point" to="/uav_0/clicked_point"/>
    <remap from="/dynamic/obj" to="/uav_0/dynamic/obj"/>
    <include file="$(find bspline_race)/launch/test_gvf.launch">
      <arg name="drone_id" value="0"/>
      <arg name="init_x" value="-5.0"/>
      <arg name="init_y" value="-3.50"/>
      <arg name="init_z" value="1.0"/>
      <arg name="phase_offset_mode" value="disabled"/>
    </include>
    <group ns="formation_planning">
      <param name="gvf/odom_topic" value="/uav_0/sim/odom"/>
      <param name="gvf/cloud_topic" value="/uav_0/sim/local_map"/>
      <param name="gvf/cmd_topic" value="/uav_0/position_cmd"/>
      <param name="phase_offset/mode" value="disabled"/>
      <param name="gvf/gvf_gain1" value="2.0"/>
      <param name="gvf/gvf_gain2" value="-2.2"/>
      <param name="sdf_map/enable_manual_map" value="false"/>
      <param name="sdf_map/manual_map_auto_load" value="false"/>
      <param name="sdf_map/manual_map_auto_save" value="false"/>
    </group>
    <group ns="map_generator">
      <param name="odom_topic" value="/uav_0/sim/odom"/>
      <param name="global_map_topic" value="/mock_map"/>
      <param name="local_map_topic" value="/uav_0/sim/local_map"/>
      <param name="output_frame" value="world"/>
    </group>
  </group>
</launch>
