<launch>
  <!-- E1: E0 with all manual-map flags disabled. -->
  <node pkg="map_generator" type="map_pub" name="map_pub" output="screen"
        args="$(find map_generator)/resource/pillar.pcd"/>

  <node pkg="so3_quadrotor_simulator" type="quadrotor_simulator_so3"
        name="quadrotor_simulator_so3" output="screen">
    <param name="rate/simulation" value="1000.0"/>
    <param name="rate/odom" value="100.0"/>
    <param name="simulator/init_state_x" value="-5.0"/>
    <param name="simulator/init_state_y" value="-3.50"/>
    <param name="simulator/init_state_z" value="1.0"/>
    <param name="simulator/frame_id" value="/simulator"/>
    <param name="simulator/start_at_hover" value="false"/>
    <remap from="~odom" to="/sim/odom"/>
    <remap from="~imu" to="/sim/imu"/>
    <remap from="~cmd" to="/so3_cmd"/>
    <remap from="~force_disturbance" to="/force_disturbance"/>
    <remap from="~moment_disturbance" to="/moment_disturbance"/>
  </node>

  <node pkg="nodelet" type="nodelet" name="so3_control"
        args="standalone so3_control/SO3ControlNodelet"
        required="true" output="screen">
    <param name="so3_control/init_state_x" value="-5.0"/>
    <param name="so3_control/init_state_y" value="-3.50"/>
    <param name="so3_control/init_state_z" value="1.0"/>
    <remap from="~odom" to="/sim/odom"/>
    <remap from="~position_cmd" to="/position_cmd"/>
    <remap from="~motors" to="/motors"/>
    <remap from="~corrections" to="/corrections"/>
    <remap from="~so3_cmd" to="/so3_cmd"/>
    <remap from="~imu" to="/sim/imu"/>
    <rosparam file="$(find so3_control)/config/gains_hummingbird.yaml"/>
    <rosparam file="$(find so3_control)/config/corrections_hummingbird.yaml"/>
    <param name="mass" value="0.98"/>
    <param name="use_angle_corrections" value="false"/>
    <param name="use_external_yaw" value="true"/>
    <param name="gains/rot/z" value="1.0"/>
    <param name="gains/ang/z" value="0.1"/>
  </node>

  <include file="$(find bspline_race)/launch/test_gvf.launch">
    <arg name="drone_id" value="0"/>
    <arg name="init_x" value="-5.0"/>
    <arg name="init_y" value="-3.50"/>
    <arg name="init_z" value="1.0"/>
    <arg name="phase_offset_mode" value="disabled"/>
  </include>

  <param name="/formation_planning/sdf_map/enable_manual_map"
         value="false"/>
  <param name="/formation_planning/sdf_map/manual_map_auto_load"
         value="false"/>
  <param name="/formation_planning/sdf_map/manual_map_auto_save"
         value="false"/>
</launch>
