<launch>
  <!--
    Batch 10: single-UAV phase-offset scenario + rosbag recording.

    Example:
      roslaunch bspline_race phase_offset_record.launch \
        closed_shape:=figure8 closed_radius:=4.0 \
        map_file:=/path/to/phase_offset_open.pcd \
        bag_file:=/tmp/po_figure8.bag duration:=45
  -->
  <arg name="enable_phase_offset" default="true"/>
  <arg name="enable_swarm" default="true"/>
  <arg name="enable_tube" default="true"/>
  <arg name="enable_cbf_safety" default="false"/>
  <arg name="closed_shape" default="none"/>
  <arg name="closed_radius" default="4.0"/>
  <arg name="closed_center_x" default="0.0"/>
  <arg name="closed_center_y" default="0.0"/>
  <arg name="map_file" default="$(find map_generator)/resource/pillar.pcd"/>
  <arg name="bag_file" default="/tmp/phase_offset_swarm.bag"/>
  <arg name="duration" default="45"/>

  <include file="$(find bspline_race)/launch/phase_offset_single_sim.launch">
    <arg name="enable_phase_offset" value="$(arg enable_phase_offset)"/>
    <arg name="enable_swarm" value="$(arg enable_swarm)"/>
    <arg name="enable_tube" value="$(arg enable_tube)"/>
    <arg name="enable_cbf_safety" value="$(arg enable_cbf_safety)"/>
    <arg name="closed_shape" value="$(arg closed_shape)"/>
    <arg name="closed_radius" value="$(arg closed_radius)"/>
    <arg name="closed_center_x" value="$(arg closed_center_x)"/>
    <arg name="closed_center_y" value="$(arg closed_center_y)"/>
    <arg name="map_file" value="$(arg map_file)"/>
  </include>

  <node pkg="rosbag" type="record" name="phase_offset_bag_recorder"
        output="screen"
        args="-O $(arg bag_file) --duration=$(arg duration) /sim/odom /sim/imu /phase_offset_swarm/debug /phase_offset_swarm/state /phase_offset_swarm/conflict_state /phase_offset_swarm/path_event /phase_offset_swarm/vis/paths /phase_offset_swarm/vis/tubes /uav_0/particle0/path /uav_0/goal"/>
</launch>
